<div class="container">
<h1>login</h1>
  <form action="/login" method="post">
    <label>email: </label>
    <input type="email" name="user[email]" placeholder="email"><br><br>
    <label>password: </label>
    <input type="password" name="user[password]" placeholder="password"><br><br>
    <input type="submit" value="log in">
  </form>
</div>
