<h1>Login</h1>

<% if @errors && @errors.any? %>
  <ul class="errors">
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/login" method="post">
  <div>
    <label for="email">Email:</label>
    <input name="user[email]" placeholder="email"></input>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="password"></input>
  </div>
  <div>
    <input type="submit" name="Register" />
  </div>
</form>

