<div class="container">
<h1>login</h1>
  <form action="/login" method="post">
    <label>username: </label>
    <input type="text" name="username" placeholder="username"><br><br>
    <label>password: </label>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit" value="log in">
  </form>
</div>
