#one{
display: none;
}

#two{
display: none;
}

#three{
display: none;
}

#home-img{
position: fixed;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
height: 450px;
width: 600px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  max-width: 100%
}

#pagewrap {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}
header {
  height: 100px;
  padding: 0 15px;
}
#content {
position: fixed;
top: 70%;
left: 35%;
transform: translate(-50%, -50%);
height: 450px;
width: 33%;
}

#middle {
position: fixed;
top: 70%;
left: 55%;
transform: translate(-50%, -50%);
height: 450px;
width: 33%;
}

#sidebar {
  width: 33%;
  margin-top: -13px;
  float:right;
}
