<div class="container">
  <% if @errors && @errors.any? %>
    <ul class="errors">
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

  <h2>Post an event in your life!</h2>
    <form action="/users/events" method="POST">
        <label>Description:</label>
          <p><textarea name="description" rows="4" cols="75"></textarea></p>
        <label>Url:</label>
          <p><input type="text" name="url" placeholder="Url"></input></p>
          <p><input type="submit" value="Create!"></p>
    </form>
</div>
