<div class="container">
  <% if @errors && @errors.any? %>
    <ul class="errors">
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

  <h2>Login:</h2>
  <form action="/login" method="POST">
      <label>Email:</label>
       <p><input type="text" name="email"></input></p>
     <label>Password:</label>
       <p><input type="password" name="password"></input></p>
        <p><input type="submit" value="Login"></p>
  </form>
</div>
