<h1>Profile Page</h1>

<a href="/">Home</a>

<br><br>

<form class="delete" action="/logout" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Logout" class="delete" />
</form>
