<% if @errors && @errors.any? %>
  <ul class="errors">
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/users" method="post">
  <div>
    <label for="username">Username:</label>
    <input name="user[username]" placeholder="User Name"></input>
  </div>
  <div>
    <label for="email">Email:</label>
    <input name="user[email]" placeholder="Email"></input>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="Password"></input>
  </div>
  <div>
    <input type="submit" name="Register" />
  </div>
</form>
