<div class="container">
  <form action="/login" method="POST">
    <label>Username:</label>
    <p><input type="text" name="user_name"></p>
    <label>Password:</label>
    <p><input type="password" name="password"></p>
    <input type="submit" value="Login">
  </form>
</div>
