<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HOME</a>
    </div>
    <ul class="nav navbar-nav">
    <% if session[:id] %>
      <li><a href="/profile/<%= User.find(session[:id]).id %>"><%= User.find(session[:id]).username %></a></li>
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/login">Login</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    <% end  %>
    </ul>
  </div>
</nav>
