<div class="jumbotron">
  <div class="main container text-center">
    <h1>Nostalgic</h1>
    <p>How far will you venture down the rabbit hole?</p>
  </div>
</div>

<div class="container">

<ul class="nav nav-pills nav-justified decade">
  <li><a href="#one">1990's</a></li>
  <li><a href="#two">2000's</a></li>
  <li><a href="#three">2010's</a></li>
</ul>
<br>
<ul id="one" class="nav nav-pills nav-justified tab-content">
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cartoons<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="cartoon1990" href="/decades/1/cartoons">Teleport</a></li>
          </ul>
    </div>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sports<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="sports1990" href="/decades/1/sports">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Video Games<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="videogame1990"href="/decades/1/videogames">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Music<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="music1990"href="/decades/1/music">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">TV/Movies<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="tv_movies1990" href="/decades/1/tv_movies">Teleport</a></li>
          </ul>
    </div>
  </li>
</ul>

<ul id="two" class="nav nav-pills nav-justified tab-content">
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cartoons<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/2/cartoons">Teleport</a></li>
          </ul>
    </div>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sports<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/2/sports">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Video Games<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/2/videogames">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Music<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/2/music">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">TV/Movies<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/2/tv_movies">Teleport</a></li>
          </ul>
    </div>
  </li>
</ul>

<ul id="three" class="nav nav-pills nav-justified tab-content">
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cartoons<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/3/cartoons">Teleport</a></li>
          </ul>
    </div>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sports<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/3/sports">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Video Games<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/3/videogames">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Music<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/3/music">Teleport</a></li>
          </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">TV/Movies<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/decades/3/tv_movies">Teleport</a></li>
          </ul>
    </div>
  </li>
</ul>

<img id="home-img" src="https://s-media-cache-ak0.pinimg.com/736x/80/09/96/80099636d2c581aad9d1c3af26b71b79.jpg">

</div>


