<h1>Login!</h1>

<% if @errors %>
  <section class="errors">
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<form class="login" action="/sessions" method="post">
  <input type="email" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Login">
</form>
