<div class="black_bar"></div>

<div class="container">

<!-- 'current_user' NEEDS TO BE 'false' UNTIL I MAKE THE USER.RB HELPER FILE -->
 
  <nav>
  
    <div class="navbar">
      <% if current_user %>
        <a href="/logout"><%= erb :'/sessions/logout_form' %></a>
        <a href="/profile">Profile</a>
        <a href="/">Home</a>
      <% else %>
        <a href="/login">Login</a>
        <a href="/register">Create Account</a>
        <a href="/">Home</a>
      <% end %>
    </div>

  </nav>
  
</div>


